@import 'bourbon';

html,
body {
    font-size: $em-base;
    background: #fbfafa;

    @include size(100%);
}

html,
body,
section,
canvas {
    display: block;
    margin: 0;
    padding: 0;
}

section {
    overflow: hidden;
}

.h-no-display {
    display: none;
}

#js-stage {
    margin: 2em auto;
    @include size(512px 288px);
}
