@import 'bourbon';

html,
body {
    font-family: $helvetica;
    font-size: $em-base;
    background: #eaeaea;
    line-height: 1.5em;
    color: #b5b5b5;

    @include size(100%);
}

html,
body,
section,
canvas {
    display: block;
    margin: 0;
    padding: 0;
}

section {
    overflow: hidden;
    width: 512px;
    margin: 0 auto;
}

.o-message {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.h-no-display {
    display: none;
}

#js-stage {
    margin-top: 2em;
    @include size(512px 288px);
    margin-bottom: 1.5em;
    background: white;
}
