extends views/layout/_layout

block layout-main
    section
        canvas#js-stage

        .h-no-display
            img#js-sprite-1x(src='/assets/images/sprite@1x.png')
            img#js-sprite-2x(src='/assets/images/sprite@2x.png')
